<!-- THIS FILE IS HERE ONLY FOR THE container SBT TASKS TO WORK
     IN A NON-DEV ENVIRONMENT, THE APP IS PROGRAMMATICALLY CONFIGURED
     (see Api.scala and HttpServer.scala) -->

<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

  <!-- loads ScalatraBootstrap.scala -->
  <listener>
    <listener-class>org.scalatra.servlet.ScalatraListener</listener-class>
  </listener>

</web-app>
